<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="footer">
	<meta charset="utf-8">
</head>
<body>
<!-- Footer -->
<div th:fragment="footer">
    <div class="footer-content"  style="font-size:20px;">
        <div class="container">
            <div class="ftr-grids">
                <div class="col-md-3 ftr-grid">
                    <h4>A propos de nous</h4>
                    <ul>
                        <li><a href="#">Qui sommes nous ?</a></li>
                        <li><a href="contact.html">Contacter nous !</a></li>
                        <li><a href="#">Notre sites</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h4>Service client</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Livraison</a></li>
                        <li><a href="#">Annulation</a></li>
                        <li><a href="#">Guides d'achat</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h4>Votre compte</h4>
                    <ul>
                        <li><a href="account.html">Votre compte</a></li>
                        <li><a href="#">Information Personalle</a></li>
                        <li><a href="#">Suivre ton achat</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ftr-grid">
                    <h4>Catégories</h4>
                    <ul>
                        <li><a href="#">> Meubles</a></li>
                        
                        <li><a href="#">> Décors</a></li>
                        <li><a href="#">...Plus</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->
    <div class="footer">
        <div class="container">
            <div class="copywrite">
                <p>Copyright © 2019 -> <a href="#">Mister_prog@</a></p>
            </div>
        </div>
    </div>
    
</div>

</body>
</html>