<html lang="end" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="header/header :: header" >
		<meta charset="utf-8">
	</head>
	<body>
		<div th:replace="header/header :: navbar" /></div>
		
		<div class="login_sec">
			<div class="container">
				<ol class="breadcrumb">
					<li>
						<a href="/">Accueil</a>
					</li>
					<li class="active">Connexion</li>
				</ol>
				<h2>Connexion</h2>
				<div class="col-md-8 log">
						<p>Bienvenue, s'il vous plaît, remplissez les champs suivants !</p>
						<p>Si vous êtes connecté avec nous, <span>cliquez ici !</span></p>
						<div th:if="${emailNotExist}" class="alert alert-danger">
							Cet email n'existe pas.
						</div>
							  <form th:action="@{/forgetPassword}" method="post">
							    <h5>Adresse email </h5> 
							    <input type="email" value="" name="email"> 
							    <input type="submit" value="Reinitialisé mot de passe"> 
							    <span>Avez-vous déjà un compte ?<a href="/login">Connectez-vous !</a></span> 
							    <span>Vous n'avez pas encore de compte ?<a href="/register">Enregistrer vous !</a></span>
							  </form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div th:replace="footer/footer :: footer" /></div>
	</body>
</html>