<!DOCTYPE HTML>
<html lang="end" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header/header :: header">
	<meta charset="utf-8">
</head>
<body>
<!-- header -->
<div th:replace="header/header :: navbar"></div>


<div class="container">
	<div class="jumbotron">
		<h2 class="display-4">Votre paiement a été effectué avec succès, vous allez recevoir un email pour un détail de votre 
		transaction !
		</h2>
	</div>
</div>
	


<div th:replace="footer/footer :: footer"></div>
<!---->
</body>
</html>